---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            {% if item.title == 'github' %}
              <a target="_blank" href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
              <a href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="about">
  <h2>About</h2>
  <div class="about__content">
    <p></p>Hello, my name is Giles Thompson.</p>

    <p>I&apos;m a self-employed software engineer and consultant and I'm availabile for hire.</p>

    <p>You can contact <a href="mailto:me@gilesthompson.co.nz">me@gilesthompson.co.nz</a></p>
  </div>
</div>

<div class="blog">
    <h2>Blog Posts</h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


